@import "sass/utilities/all";

body.welcome {
  overflow: hidden;
}

.welcome-main-visual {
  background: #f2f2f2;
  padding: 4rem 2rem;

  @include until($tablet) {
    padding: 2rem 0;
  }

  &__inner {
    margin: 1rem 2rem;
  }

  &__title {
    font-size: 6.5rem;
    font-weight: bold;

    @include until($tablet) {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-size: 4.3rem;

    @include until($tablet) {
      font-size: 3rem;
    }
  }
}

.welcome-content {
  padding: 5rem 0;

  &--bgc {
    background: #f2f2f2;
  }

  &__image-icon {
    max-width: 200px;

    @include until($tablet) {
      max-width: 100px;
      margin: 0rem 1rem;
    }
  }

  &__image {
    &--border {
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    @include until($tablet) {
      max-width: 300px;
      margin: 0rem 1rem;
    }
  }
}

.welcome-bottom-cta {
  padding: 5rem 0;
  background: #eaeaea;
  ;
}
