p
  |   &lt;div class="fform-group"&gt;
        &lt;script src="https://www.google.com/recaptcha/api.js" async defer&gt;&lt;/script&gt;
        &lt;div class="g-recaptcha" data-callback="allowSubmit" data-expired-callback="disableSubmit" data-sitekey="#{Settings.recaptcha_site_key}"&gt;&lt;/div&gt;
      &lt;/div&gt;
